* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#222, #000);
    font-family: Arial, Helvetica, sans-serif;
}

#game-container {
    position: relative;
}

#canvas {
    border: 4px solid #222;
    border-radius: 12px;
    background: url("./background.jpg") center / cover no-repeat;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
}
